.homepage{
    background-image: linear-gradient(#292e2962,#5660917a,#5d645686),url("https://avatars.githubusercontent.com/u/123445030?v=4");
    background-repeat: no-repeat;
    background-position: center;
    
}
