.homepage{
    background-image: linear-gradient(#292e2962,#5660917a,#5d645686),url("https://github.com/MbarushimanaFabrice/dignitycoding/blob/main/public/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}
