.homepage{
    background-image: linear-gradient(#292e2962,#5660917a,#5d645686),url("https://pbs.twimg.com/media/GF-aLp8WMAE7w8G?format=jpg&name=large");
    background-repeat: no-repeat;
    background-position: center;
    
}
